body{
  background-color: lavender;
  font-family: cursive;
  font-size: large;
}

main img {
  width: 80%;
}

main video{
  width: 80%;
}

main.content {
  display: grid;
  background-color: whitesmoke;
  font-size: large;
}

aside.sidenav {
  grid-column: 1 / 2;
  column-width: 230px;
  background-color: whitesmoke;
  border-right-style: solid;
  border-right-width: 10px;
  border-right-color: lavender;
  font-size: medium;
}

main.content > section {
  grid-column: 2 / 3;
  text-align: center;
}
